/* Global Changes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Custom Navbar Changes */
.navbar {
  max-width: 1440px;
  margin: 0 auto;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler-icon img {
  height: 100%;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 100;
}

.nav-item {
  font-weight: 100;
  padding: 0 1rem;
}

.nav-link {
  color: black;
  font-weight: 400;
}

.nav-item:hover {
  background-color: rgb(237, 237, 237);
  border-radius: 0.3rem;
}

.sticky-top {
  background-color: white;
}

/* Header */
.head-content {
  width: 75%;
  margin: 0 auto;
}

.text-center {
  line-height: 1.8;
}

.fs-1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 2rem 0 1rem;
  line-height: 1;
}

/* .grid */
.grid .card-text {
  line-height: 1.8;
  font-size: medium;
  font-weight: 300;
}

.grid {
  margin-bottom: 1.5rem;
}

/* Our Team */
.person {
  background-color: black;
  color: white;
}

.paragraph {
  max-width: 85%;
  margin-inline: auto;
}

/* Carousal Slider */
.desktop {
  background-color: rgba(0, 0, 0, 0.9);
}

.person {
  max-width: 1440px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel-control-next-icon {
  background-image: url("assets/Next.svg");
}

.carousel-control-prev-icon {
  background-image: url("assets/Previous.svg");
}

.carousel-control-next {
  justify-content: end;
  margin-right: 1rem;
}

.carousel-control-prev {
  justify-content: start;
  margin: 0 1rem;
}

.slider {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card-title {
  font-weight: 400;
  margin-top: 1rem;
}

#AboutUs .card-text {
  font-weight: 300;
  font-size: small;
  font-style: italic;
}

#AboutUs .card-title {
  font-weight: 400;
  font-size: medium;
  margin-bottom: 0;
}

hr {
  border-width: 0.15rem;
  opacity: 1;
}

/* Footer */
footer {
  font-weight: 300;
  background-color: black;
  color: rgba(255, 255, 255, 0.699);
  line-height: 1.5rem;
}

footer span {
  font-weight: 300;
}

footer a,
address {
  color: rgba(255, 255, 255, 0.699);
  text-decoration: none;
}

/* Responsivenss */

/* Mobile */
@media screen and (max-width: 425px) {
  .desktop {
    display: none;
  }

  .tab {
    display: none;
  }

  .row {
    display: block;
  }

  .card {
    margin-bottom: 1rem !important;
  }

  .head-content {
    width: 100%;
  }

  .fs-1 {
    font-size: 2rem !important;
    font-weight: 400;
    margin-bottom: 1rem;
    line-height: 1;
  }

  .paragraph {
    max-width: 100%;
  }

  .navbar-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.11);
    padding-bottom: 1rem;
  }
}

/* Tablet */
@media screen and (min-width: 426px) and (max-width: 767px) {
  .desktop, .mobile {
  display: none;
  }
  
  .navbar-toggler {
  display: none;
  }
  
  .navbar-nav {
  visibility: visible;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  }
  
  .navbar>.container-fluid {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .collapse:not(.show) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  }
  
  .grid .row,
  footer .row {
  display: block;
  }
  
  .card {
  margin-bottom: 1rem !important;
  }
  
  .head-content,
  .paragraph {
  max-width: 100%;
  }
  
  .fs-1 {
  font-size: 3rem !important;
  font-weight: 300;
  margin-bottom: 1rem;
  line-height: 1;
  }
  }

/* Desktop */
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .tab {
    display: none;
  }

  .navbar-toggler {
    display: none;
  }

  .navbar-nav {
    visibility: visible;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    box-shadow: none;
    padding-bottom: 0;
  }

  .navbar>.container-fluid {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .collapse:not(.show) {
    display: flex !important;
    flex-basis: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
}
